img{
    width: 5cm;
    height: 7cm;
    border-radius: 50%;
    
}
html{
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX18696312.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    font-size: 23px
}
.list{
    font-weight: bolder;
    font-style: italic;
    float: left;

}
.text-box{
       border-bottom: 30px;
       border-top: 30px;
       border-left: 40px;
       border-right: 40px;
    background-color:black;
    float: right;
}
.me{
    font-weight: bolder
}
#project{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: darkgreen;

}
