img{
    width: 5cm;
    height: 7cm;
    border-radius: 12%;
    padding-left: 15%;
    
}
html{
    background-image: url("https://wallpapercave.com/wp/wp2610943.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    font-size: 23px
}
.projects{
    font-weight: bolder;
    font-style: italic;
    float: left;
    padding-left: 20%;

}
.text-box{
       border-bottom: 30px;
       border-top: 30px;
       border-left: 40px;
       border-right: 40px;
    float: left;
}
p { 
 padding-left: 17%;
 float: left;
}
.me{
    font-weight: bolder
}
#project{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 20%;
        font-weight: bolder;

}
#edu{
    font-weight:bolder;
    font-style:initial;
}
.read{
    font-style: italic;
    font-size: 15Px;

}
.brief{
    text-align:center;

}
.fridah{
    font-style: italic;

.important{
    float: right;
}

.school{
        font-style: normal;
}
h1 {
    padding-left: 37%;

}
.contacts {
    padding-left: 333%;
}